.services ul li#snipit,
#available-services .preview-snipit div.option-smart-off {
  background: #FFF url('../images/logo-16.png?0') no-repeat 4px 5px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .services ul li#snipit,
  #available-services .preview-snipit div.option-smart-off {
    background: #FFF url('../images/logo-32.png?0') no-repeat 4px 5px;
    background-size: 16px 16px;
  }
}

.preview li.preview-snipit {
  padding: 0;
}

.preview-snipit .option-smart-on {
  background: #FFF url('../images/smart.png?0') no-repeat top left;
  width:92px;
  height:20px;
}
